*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#reset-password-div{
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: #eabcac;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
}

#reset-password-div div{
    margin: 100px 0 0 4rem 
}

#reset-password-div button{
    padding: 0.5rem;
    font-size: 1.1rem
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 4rem;
}
