<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAFF DASHBOARD</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <nav id="nav"> 
                <div id="bars">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <a href="../index.html" id="logo">BANKA</a>
                <a href="../index.html"id="logout">Logout</a>
            </nav>
        </header>
    
        <nav id="side-navbar">
            <div id="close-btn">&times;</div>
            <div id="side-menu">
                Welcome, <span>Name</span> 
                <p>Staff Id</p>
                <div id="staff-picture"></div>  
            </div>
        
            <div id="side-nav">
                <a data-target="#transaction" class="links" id="transaction-link">Transactions</a>
                <a data-target="#accounts-div" class="links">Accounts</a>
                <a data-target="#admin-div" class="links">Admin </a>
                
            </div>
        </nav>
        <div id="content">

            <div id="staff-dashboard" class="displayDivs">
                
            </div>

            <div id="transaction" class="displayDivs">
                <div class="centered-divs">
                    <form action="" method="POST">
                        <label for="">Account Number
                            <input type="text" name="" id="">
                        </label>
                        <label for="">Amount
                            <input type="text" name="" id="">
                        </label>
                        <label for="transaction-type">Transaction Type:
                            <select name="transaction-type" id="transaction-type" required>
                                <option value="" selected disabled></option>
                                <option value="debit">Debit</option>
                                <option value="credit">Credit</option>
                            </select>
                        </label>
                        <label for="pin">PIN
                            <input type="text" name="cashier-pin" id="cashier-pin">
                        </label>
                        <button> Done </button>
                    </form>
                </div> 
                
            </div>

            <div id="accounts-div" class="displayDivs">
                <div id="search-for-account">
                    <h3>Search for An Account....</h3>
                    <form action="" method="GET">
                        <label for="">Enter Account Number
                            <input type="text" name="user-account-number" id="user-account-number">
                        </label>
                        <a data-target="#single-account-div" class="links"> <button type="button">Search</button> </a>
                        
                    </form>
                </div>

                <div id="all-accounts">
                    <div class="user-account">
                        <h4>Account Name</h4>
                        <h4>Account Number</h4>
                        <h4>Account Balance</h4>
                        <h4>Status</h4>
                        <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                        <h4>Account Name</h4>
                        <h4>Account Number</h4>
                        <h4>Account Balance</h4>
                        <h4>Status</h4>
                        <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                     </div>
                     <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                    <div class="user-account">
                            <h4>Account Name</h4>
                            <h4>Account Number</h4>
                            <h4>Account Balance</h4>
                            <h4>Status</h4>
                            <button>More</button>
                    </div>
                        
                </div>

                
            </div>
            <div id="single-account-div" class="displayDivs">
                <div class="centered-divs" id="single-account-details">
                    
                        <h3>ACCOUNT NAME:</h3>
                        <h3>ACCOUNT NUMBER:</h3>
                        <h3>ACCOUNT BALANCE:</h3>
                        <h3>ACCOUNT TYPE: </h3>
                        <h3>ACCOUNT STATUS:</h3>
                        <h3>DATE CREATED:</h3>
                        <button>DELETE ACCOUNT</button>
                    
                </div>
                
                <div id="transaction-history">
                    <h3>TRANSACTION HISTORY</h2>
                    <div id="user-transaction-history"></div>
                </div>
                
            </div>

            <div class="displayDivs" id="admin-div">
                <div id="new-staff-account" class="divs centered-divs">
                    <h2>New Staff Account</h2>
                    <form action="">
                        <label for="">First Name
                            <input type="text" name="firstName" id="first-name">
                        </label>
                        <label for="">Last Name
                            <input type="text" name="lastName" id="last-name">
                        </label>
                        <label for="">Username
                            <input type="text" name="Username" id="username">
                        </label>
                        <label for="">Password
                            <input type="password" name="password" id="password">
                        </label>
                        <label for="">Confirm Password
                            <input type="password" name="password2" id="confirmed-password">
                        </label>
                        <label for="transaction-type">Will the Staff be an Admin?
                            <select name="admin-status" id="admin-status" required>
                                <option value="" selected disabled></option>
                                <option value="true">YES</option>
                                <option value="false">NO</option>
                            </select>
                        </label>
                        <label for="pin">PIN
                            <input type="text" name="staff-pin" id="new-staff-pin">
                        </label>
                        <button> CREATE </button>
                    </form>

                </div>

                <div id="make-admin" class="centered-divs admin">
                    <h3>UPGRADE TO ADMIN</h3>
                    <label for="">
                        Staff Id
                        <input type="text" placeholder="Staff ID" name="staff-id">
                    </label>
                    <button type="button">UPGRADE</button>
                </div>
                
                <div id="account-status" class="centered-divs">
                        <h2>UPDATE ACCOUNT</h2>
                        <form action="">
                            <select name="account-status" id="">
                                    <option value="" selected disabled></option>
                                <option value="activate">Activate</option>
                                <option value="deactivate">Deactivate</option>
                            </select>
                            <label for="">Enter Account Number 
                                <input type="text" name="account-number">
                            </label>
                            <button>UPDATE</button>
                        </form>
    
                    </div>

            </div>  
            
            

        </div>
    

        <footer>&copy; BANKA 2019.</footer>

    </div>
    
    <script src="../javascript/admin.js"></script>
</body>
</html>