<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../css/password-reset.css">
</head>
<body>
    <div id="reset-password-div">
        <form action="" method="PUT" id="password-reset-form">
            <div>
                <label for="email">Enter your email address below</label>
                <input type="email" name="email" id="password-reset-email" class="input">
                <p>Ensure the email address is valid as your new password will be sent to the provided email address.</p>
                <button>Reset</button>
            </div>
            
        </form>
        <a href="../index.html"> Go Home </a>
    </div>
    <script src="../javascript/password-reset.js"></script>
</body>
</html>