<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/user-dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">
        <div id="upper-nav">
            <div id="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <a href="../index.html" id="brand-logo">Banka</a>
            <a href="../index.html" id="logout-btn">Logout</a>
        </div>

        <div id="side-menu">
            <span id="close-btn">&times;</span>
        
                <div id="welcome-message">
                    <h2>Welcome</h2>
                    <h5 id="welcome-username">Username</h5>
                    <div id="profile-photo"></div>
                </div>
            
            <nav id="side-nav">
                <a href="#" data-id="#dashboard" class="nav-links">Dashboard</a>
                <a href="#" data-id="#transaction" class="nav-links">Send Money</a>
                <a href="#" data-id="#profile" class="nav-links"><i class="fa fa-user-cog"></i> Profile Settings</a>
            </nav>
        </div>
        

        <div id="content">
            <div id="dashboard" class="display-div dashboard-div">
                <div id="account-info">
                    <div id="acc-number">ACCOUNT NUMBER</div>
                    <div id="acc-balance">BALANCE</div>
                    <div id="last_seen">LAST SEEN: </div>
                </div>
                <div id="transaction-history">
                    <h3>Recent Transactions</h3>
                    <ul>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                        <li><span> Trasaction id  </span> <span> Transaction Type </span>  Date <span></span> <button id="transaction-details">Details</button></li>
                    </ul>
                    
                </div>  
            </div>
        
        </div>
            
        <footer>&copy; BANKA 2019</footer>
    </div>
    
    
    <script src="../javascript/user-dashboard.js"></script>
</body>
</html>